<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>23886778492-l43g5pmmf3hk4534ht5jp7r6a8rto58c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23886778492-l43g5pmmf3hk4534ht5jp7r6a8rto58c</string>
	<key>API_KEY</key>
	<string>AIzaSyBT355q2DOO-lGX2dLKoT-KjaY1u-aQsA0</string>
	<key>GCM_SENDER_ID</key>
	<string>23886778492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exo.heartstonelib</string>
	<key>PROJECT_ID</key>
	<string>heartstonelib-exo</string>
	<key>STORAGE_BUCKET</key>
	<string>heartstonelib-exo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23886778492:ios:e83869f9044c3f44</string>
	<key>DATABASE_URL</key>
	<string>https://heartstonelib-exo.firebaseio.com</string>
</dict>
</plist>